.news{
    width: 100%;

    /* background-color: turquoise; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.insights{
    width: 20%;
    height: 300px;
    background-color: brown;
    margin: 20px;
}
@media (max-width: 768px){
    .news{
        flex-direction: column;
    }
    .insights{
        width: 90%;
    }
}