/*  */
:root {
  --accent-color: #2f9c04;
  --accent_light-color: #3ac403;
}

/*  */
* {
  position: relative;
  box-sizing: border-box;
  height: auto;
  outline: 1px solid transparent;
  transition: all 0.3s ease-in-out;

  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) transparent;
  scroll-behavior: smooth;

  /* outline-color: red; */
}

/*  */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent_light-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

/*  */
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--accent-color);
  background-color: #fff;
  background-size: cover;
  scroll-behavior: smooth;
  scroll-padding: 80px;

  main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
  }
}

/* Ultra large devices (4K displays, 1400px and up) */
/*  */
header {
  width: 100%;
  position: sticky;
  position: absolute;
  position: fixed;
  height: auto;
  top: 0;
  padding: 0;
  margin: auto;
  color: black;
  text-align: center;
  z-index: 50;

  .header-title {
    margin: 0 auto;
    padding: 0;
    display: none;
  }

  .header-logo {
    height: 50px;
  }

  .navbar-controls {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    place-content: center;
    width: 55px;
    aspect-ratio: 1;
  }

  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px;
    gap: 1rem;
    padding: 7px;

    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .menu-toggle {
      position: relative;
      height: 50px;
      width: 50px;
      float: right;
      background-color: #ddd;
      border-radius: 7px;
      display: none;
      padding: 7px;

      div {
        position: absolute;
        width: calc(100% - 14px);
        height: 5px;
        background-color: black;
        opacity: 1;
        background-color: #fff;
        transition-duration: 0.5s;

        &:nth-child(2) {
          top: 10px;
        }
        &:first-child {
          top: calc(50% - 2.5px);
        }
        &:last-child {
          top: calc(100% - 15px);
        }
      }

      &:hover {
        /* &:active { */
        div {
          &:nth-child(2) {
            transform: rotate(45deg);
            top: calc(50% - 3.5px);
            background-image: linear-gradient(120deg, #007bff, #2f9c04);
          }
          &:last-child {
            transform: rotate(-45deg);
            top: calc(50% - 3.5px);
          }
          &:first-child {
            opacity: 0;
          }
        }

        + .navbar-block {
          transition-delay: 0.5s;
          left: calc(100dvw - min(320px, calc(100% - 20px)));
        }
      }
    }

    .navbar-block {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      gap: 1rem;
    }

    nav {
      padding: 5px 0;
      width: fit-content;
      gap: 0.7rem;

      &.navbar {
        display: flex;
        justify-content: center;
      }
      &.navbar-extras {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
      }

      a {
        color: inherit;
        text-transform: capitalize;
        font-weight: bold;
        white-space: nowrap;
        display: block;
        padding: 0px 8px;
        display: flex;
        place-items: center;
        border-bottom: 3px solid black;

        &::after {
          position: absolute;
          content: '';
          height: 3px;
          left: 0;
          bottom: -3px;
          width: 0%;
          transition-duration: 0.5s;
          background-color: var(--accent-color);
        }

        &:hover {
          color: var(--accent-color);

          &::after {
            width: 100%;
            left: 0;
          }
        }

        &.action-btn {
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
          border: none;
          color: #fff;
          margin: 0;

          &::after,
          &::before {
            display: none;
          }
        }

        &:has(> .dropdown) {
          padding: 0;
        }
        .dropdown {
          margin: 0;
          padding: 8px 18px;
          width: 100%;
          background-color: red;
        }
        .dropdown-list {
          position: absolute;
          width: 100%;
          display: none;
        }
      }
    }
  }
}

/*  */
footer {
  /* display: none; */
  width: 100%;
  height: auto;
  padding: 5rem 0 1rem 0;
  margin: auto;
  color: #fff;
  text-align: center;
  color: black;

  .links-lane {
    min-height: 50px;
    width: 100%;
    display: flex;
    padding-bottom: 4rem;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;

    .link-box {
      /* width: max(100%, 250px); */
      width: fit-content;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      outline-color: red;

      .link-title {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
      }

      .link-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .link {
          display: block;
          text-decoration: none;
          width: 100%;
          color: black;
          text-transform: capitalize;

          &:hover {
            color: var(--accent-color);
          }
        }
      }
    }
  }

  .footer-logo {
    position: sticky;
    top: 140px;
    height: 70px;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }

  .address-lane {
    min-height: 50px;
    width: 100%;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;

    .address-box {
      width: max(100%, 320px);
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: space-between;
      gap: 1rem;
    }

    .address-location {
      width: clamp(320px, 100%, 720px);
      display: flex;
      flex-wrap: wrap;
      outline-color: red;
      gap: 1rem;

      .address-title {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        font-weight: bold;
      }

      .address-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .item {
          display: block;
          text-decoration: none;
          width: 100%;
          color: black;
          text-transform: capitalize;
        }
      }
    }
  }

  .copyright-lane {
    width: 100%;
    min-height: 50px;
    border-top: 3px solid var(--accent-color);
    padding-top: 2rem;
    color: #666;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

/*  */
section {
  width: 100%;
  height: fit-content;
  padding: 4rem 0px;
  margin: 0 auto;

  &:nth-child(even) {
    background-color: #f8f8f8;
  }

  /*  */
  .section-head,
  .section-body {
    width: 100%;
  }

  /*  */
  &.landing,
  &.landing-min {
    min-height: min(96vh, 110vmin);
    max-height: calc((100vmax + 100vmin) / 2);
    padding-top: 100px;
    padding-bottom: 0;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: baseline;
    align-items: center;
    overflow: hidden;

    /*  */
    &#home {
      background-image: url('./img/bgd/home_bgd.jpg');
    }
    &#aboutus {
      background-image: url('./img/bgd/aboutus_bgd.avif');
    }
    &#services {
      background-image: url('./img/bgd/services_bgd.avif');
    }
    &#properties {
      background-image: url('./img/bgd/properties_bgd.avif');
    }

    .content {
      color: #fff;
      max-width: 750px;
      padding: 1rem;
    }

    .landing_title {
      font-size: 3rem;
      text-align: center;
    }

    .landing_detail {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &.landing-min {
    min-height: unset;
    max-height: unset;
    height: 300px;

    .landing_title {
      font-size: 3rem;
      text-align: center;
      text-transform: capitalize;
    }

    .landing_detail {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &.about_us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .content.flex {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: space-evenly;

      .about-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        gap: 2rem;
        padding: 1rem 0;
      }

      .about-img {
        width: 100%;
        background-image: url('./img/section_img/aboutus.jpg');
        background-position: right center;
        background-size: cover;
        mask-image: linear-gradient(270deg, transparent, black);
      }

      .no-button {
        padding: 0;
      }
    }

    .about_title {
      display: block;
      width: 100%;
      font-size: 3rem;
      padding: 0;
      margin: 0;
    }

    .about_detail {
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
    }
  }

  &.services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .content {
      margin: 1rem auto;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .section-head {
      width: 100%;
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    .section-body {
      width: 100%;
      display: flex;
      gap: 2rem;
    }

    .section_title {
      display: block;
      width: 100%;
      text-align: right;
      text-align: right;
      font-size: 3rem;
      padding: 0;
      margin: 0;
    }

    .section_detail {
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
    }

    .service-item {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }

  &.annual {
    .content {
      background-color: #333;
      min-height: 500px;
      color: white;
      display: flex;
      padding: 0 4rem 0 4rem;
      align-items: stretch;
      justify-content: center;
      gap: 8px;

      .content-box,
      .content-img {
        width: 100%;
      }

      .content-box {
        width: 70%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;
      }

      .content-img {
        overflow: hidden;

        img {
          position: absolute;
          width: min(300px, 50%);
          transform: rotate(20deg);
          left: 15%;
          bottom: -10%;
        }
      }
    }

    .annual_title {
      display: block;
      width: 100%;
      font-size: 3rem;
      padding: 0;
      margin: 0;
    }

    .annual_detail {
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
    }
  }

  &.ideal {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .content {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .section-head {
      width: 100%;
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    .section-body {
      width: 100%;
      display: flex;
      gap: 2rem;
    }

    .section_title {
      display: block;
      width: 100%;
      text-align: right;
      text-align: right;
      font-size: 3rem;
      padding: 0;
      margin: 0;
    }

    .section_detail {
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
    }

    .ideal-item {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }

  /*  */
  &.whyus {
    .why_text {
      width: min(80%, 1200px);
      padding: 1rem 0 4rem 0;
      margin: auto;
      font-size: 1.2rem;
    }

    .why_list {
      margin: auto;
      width: min(100%, 800px);
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      .why_item {
        width: calc(50% - 1rem);
        aspect-ratio: 1;
        padding: 2rem;
        overflow: hidden;
        border-bottom: 3px solid var(--accent-color);
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &::before {
          position: absolute;
          content: '';
          inset: 0;
          opacity: 0.2;
          background-image: linear-gradient(120deg, #2f9c043b, #007bff5f);
        }

        &:first-child {
          color: #fff;
          background-image: linear-gradient(120deg, #2f9c04, #007bff);
          border: none;
          font-size: 2rem;

          &::before {
            display: none;
          }

          .why_head {
            display: block;
            text-transform: uppercase;
            width: 100%;
            font-size: 7rem;
            padding: 0;
            margin: 0;
          }
        }

        .why_title,
        .why_detail {
          display: block;
          width: 100%;
          padding: 0;
          margin: 0;
          font-size: 1.3rem;
          /* font-size: 2rem; */
        }

        .why_title {
          text-transform: uppercase;
          font-size: 1.8rem;
        }
      }
    }
  }

  &.mission,
  &.vision,
  &.profile,
  &.personnels,
  &.joinus {
    .section_topic {
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &.personnels {
    .personnel_list {
      margin-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: start;
      gap: 1rem;

      .personnel_item {
        width: min(100%, 330px);
        aspect-ratio: 0.915;
        background: #ffffff;
        border-radius: 0;

        .personnel_img {
          position: absolute;
          width: 100%;
          top: 0;
        }

        .personnel_content {
          width: 100%;
          z-index: 1;
          background-image: linear-gradient(180deg, transparent 80%, #000);
          display: flex;
          justify-content: end;
          flex-direction: column;
          gap: rem;

          .personnel_name {
            height: 30px;
            padding: 0;
            margin: 0;
            text-transform: capitalize;
            color: #fff;
            padding: 0 1rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }

          .personnel_info {
            text-transform: capitalize;
            border-bottom: 2px solid #fff;
            /* border-bottom: 2px solid var(--accent-color); */
            padding: 1rem;
            color: #fff;
            opacity: 0;
          }
        }

        &:hover .personnel_content {
          background-image: linear-gradient(
            180deg,
            transparent 10%,
            #000 /* #2f9c04 50% */
          );

          .personnel_info {
            opacity: 1;
          }
        }
      }
    }
  }

  &.joinus {
  }

  /*  */
}

/*  */
.modal {
  position: fixed !important;
  height: 100dvh;
  width: 100%;
  z-index: 700;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  color: #000;
  /* background-color: #ddddddd2; */
  display: none;

  /* Hide the div by default */
  &#contactus {
    /* opacity: 0; */
    /* transform: translateY(20px); */
    /* transition: opacity 0.2s ease, transform 1s ease-in-out; */

    /* &:has(.modal-remove:focus) {
      display: none;
      animation-fill-mode: forwards;
      background-color: red;
    } */

    /* Show the div when it's targeted via the URL */
    &:target {
      display: block;
      opacity: 1;
      transform: translateY(0);

      .modal-body {
        transform: translateY(0); /* Move to normal position */
      }
    }
  }

  .content {
    max-width: 750px;
    /* width: min(100%, 750px); */
    height: 100dvh;
    padding: 1rem 0 4rem 0;
    overflow-y: auto;
  }

  .modal-header,
  .modal-body {
    width: 100%;
  }

  .modal-header {
    position: sticky;
    top: 0rem;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    z-index: 2;

    display: flex;
    justify-content: space-between;

    .modal-title {
      width: fit-content;
      font-size: 1.6rem;
      color: inherit;
      font-weight: bold;
    }

    .modal-remove {
      height: 30px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: red;
    }
  }

  .modal-body {
    min-height: 140px;
    border-radius: 16px;
    background-color: #fff;
    /* background-color: blue; */
    /* height: 200dvh; */
    transition: transform 4s ease-out;
    transition-delay: 2s;
  }
}

/* ================================================== */
/*  */
.content {
  padding: 0;
  margin: 0 auto;
  text-align: left;
  width: min(calc(100% - 20px), 1380px);
  background-color: transparent;
}

/*  */
.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: stretch;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }

  .card-icon {
    width: min(100px, 33%);
    width: min(80px, 33%);
    aspect-ratio: 1;
    display: block;
  }

  .card-img {
    width: min(70px, 50vmin);
    aspect-ratio: 1;
    display: block;
  }

  .card-content {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .card-box {
    height: fit-content;
    width: 100%;
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    width: 100%;
  }

  .card-description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    width: 100%;
  }

  .card-button {
    display: inline-block;
    margin-top: 12px;
    padding: 8px 24px;
    background: #fff;
    color: var(--accent-color);
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 0 3px 0 var(--accent_light-color);
    transition: background 0.3s ease;
    bottom: 0;
  }

  .card-button:hover {
    color: #fff;
    background: var(--accent-color);
  }

  &:nth-child(odd) {
    background-color: #fff;
    background-image: linear-gradient(
      140deg,
      transparent 70%,
      var(--accent_light-color) 150%
    );

    &:hover {
      background-color: #fff;
      background-image: linear-gradient(
        140deg,
        transparent 20%,
        var(--accent_light-color) 250%
      );
    }

    .card-button {
      background: #fff;
      color: var(--accent-color);
    }

    .card-button:hover {
      color: #fff;
      background: var(--accent_light-color);
      box-shadow: 0 0 3px 0 #fff;
    }
  }
}

/*  */
.overlay {
  position: absolute;
  content: '';
  inset: 0;
  background: linear-gradient(120deg, #2f9c043b, #007bff5f);
}

/*  */
[class~='blur'],
[class='blur'] {
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

/*  */
a {
  cursor: pointer;
  text-decoration: none;

  &.action-btn {
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(120deg, #2f9c043b, #007bff5f);

    &:hover {
      background-image: linear-gradient(135deg, #ffffff, #2f9c04);
      color: #fff;
    }
  }
}

/*  */
.curve {
  border-radius: 10px;
}

/*  */
button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;

  &.no-button {
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 1.2rem;
    color: var(--accent-color);

    &:hover {
      color: var(--accent-color);
    }
  }

  &.action-btn {
    padding: 10px 20px;
    margin: 50px 30px;
    color: #fff;
    /* color: var(--accent-color); */
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(120deg, #2f9c043b, #007bff5f);
    float: right;

    &:hover {
      background-image: linear-gradient(135deg, #ffffff, #2f9c04);
      color: #fff;
    }

    &.left {
      float: unset;
      margin: 1rem auto;
    }
  }

  &.btn {
    padding: 10px 20px;
    margin: 50px 30px;
    font-size: 1rem;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

/*  */
img {
  outline-style: red;
}

/*  */
p {
  padding: 0px;
  margin: 0;

  /* .p {
    font-size: x-large;
    font-family: Berlin Sans FB;
    width: 50%;
  } */

  &.P1 {
    /* font-size: 1.5rem; */
  }
  &.P2 {
  }
  &.P3 {
  }
  &.P4 {
  }
  &.P5 {
  }
}

/*  */
h1 {
  &.H1 {
    text-align: center;
    font-size: 3rem;
  }

  &.H2 {
    text-align: center;
  }
}

/*  */
/* ================================================== */
/* Extra large devices (large desktops, 1200px and more than 992px) */
@media screen and (min-width: 1200px) {
  /* Styles for large desktops */
}

/* ================================================== */
/* Large devices (desktops, 992px and more than 768px)) */
@media screen and (max-width: 992px) {
}

/* ================================================== */
/* Medium devices (tablets, 768px and more than 576px)) */
@media screen and (max-width: 768px) {
  /*  */
  header {
    .navbar-container {
      /* display: block; */

      .menu-toggle {
        display: block;
      }

      .navbar-block {
        position: fixed;
        width: fit-content;
        height: 100dvh;
        top: 0;
        left: 101dvw;
        flex-direction: column;
        justify-content: space-between;
        justify-content: start;
        padding: calc(1rem + 56px) 0 4rem 0;
        gap: 0rem;
        /* left: calc(100dvw - 320px); */

        &::before {
          position: absolute;
          content: '';
          inset: 0;
          background-image: linear-gradient(120deg, #2f9c04, #007bff);
          background: white;
        }

        &:hover {
          left: calc(100dvw - min(320px, calc(100% - 20px)));
        }
      }

      nav {
        border-top: 2px solid #ddd;
        width: min(320px, calc(100vw - 20px));
        color: #000;
        padding: 0;

        &.navbar {
          display: block;
        }
        &.navbar-extras {
          display: block;
        }

        a {
          padding: 7px 8px;
          display: flex;
          place-items: left;

          &.action-btn {
            width: calc(100% - 30px);
            padding-left: 20px;
            padding-right: 20px;
            padding: 7px 8px;
            margin: auto;
            margin-top: 1rem;
            background-color: red;

            &::after,
            &::before {
              display: none;
            }
          }

          &:has(> .dropdown) {
            padding: 0;
          }
          .dropdown {
            margin: 0;
            padding: 8px 18px;
            width: 100%;
            background-color: red;
          }
          .dropdown-list {
            position: absolute;
            width: 100%;
            display: none;
          }
        }
      }
    }

    .toggle-button {
      background-color: #555;
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #666;
      }
    }
  }

  /*  */
  footer {
    width: 100%;
    height: auto;
    padding: 5rem 0 1rem 0;
    margin: auto;
    color: #fff;
    text-align: center;
    color: black;

    .links-lane {
      min-height: 50px;
      width: 100%;
      display: flex;
      padding-bottom: 4rem;
      align-items: start;
      justify-content: start;
      flex-wrap: wrap;
      gap: 1rem;

      .link-box {
        /* width: max(100%, 250px); */
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        outline-color: red;

        .link-title {
          text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: 500;
        }

        .link-list {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          .link {
            display: block;
            text-decoration: none;
            width: 100%;
            color: black;
            text-transform: capitalize;

            &:hover {
              color: var(--accent-color);
            }
          }
        }
      }
    }

    .footer-logo {
      position: sticky;
      top: 140px;
      height: 70px;
      padding-right: 2rem;
      padding-bottom: 1rem;
    }

    .address-lane {
      min-height: 50px;
      width: 100%;
      display: flex;
      padding-top: 2rem;
      padding-bottom: 2rem;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      gap: 1rem;

      .address-box {
        width: max(100%, 320px);
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;
      }

      .address-location {
        width: clamp(320px, 100%, 720px);
        display: flex;
        flex-wrap: wrap;
        outline-color: red;
        gap: 1rem;

        .address-title {
          text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: 500;
          font-weight: bold;
        }

        .address-list {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          .item {
            display: block;
            text-decoration: none;
            width: 100%;
            color: black;
            text-transform: capitalize;
          }
        }
      }
    }

    .copyright-lane {
      width: 100%;
      min-height: 50px;
      border-top: 3px solid var(--accent-color);
      padding-top: 2rem;
      color: #666;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  /*  */
  section {
    width: 100%;
    height: fit-content;
    padding: 4rem 0px;
    margin: 0 auto;

    &:nth-child(even) {
      background-color: #f8f8f8;
    }

    /*  */
    .section-head,
    .section-body {
      width: 100%;
    }

    /*  */
    &.landing,
    &.landing-min {
      min-height: min(96vh, 110vmin);
      max-height: calc((100vmax + 100vmin) / 2);
      padding-top: 100px;
      padding-bottom: 0;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: baseline;
      align-items: center;
      overflow: hidden;

      /*  */
      &#home {
        background-image: url('./img/bgd/home_bgd.jpg');
      }
      &#aboutus {
        background-image: url('./img/bgd/aboutus_bgd.avif');
      }
      &#services {
        background-image: url('./img/bgd/services_bgd.avif');
      }
      &#properties {
        background-image: url('./img/bgd/properties_bgd.avif');
      }

      .content {
        color: #fff;
        max-width: 750px;
        padding: 1rem;
      }

      .landing_title {
        font-size: 3rem;
        text-align: center;
      }

      .landing_detail {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    &.landing-min {
      min-height: unset;
      max-height: unset;
      height: 300px;

      .landing_title {
        font-size: 3rem;
        text-align: center;
        text-transform: capitalize;
      }

      .landing_detail {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    &.about_us {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .content.flex {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-evenly;

        .about-content {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          align-items: start;
          gap: 2rem;
          padding: 1rem 0;
        }

        .about-img {
          width: 100%;
          background-image: url('./img/section_img/aboutus.jpg');
          background-position: right center;
          background-size: cover;
          mask-image: linear-gradient(270deg, transparent, black);
        }

        .no-button {
          padding: 0;
        }
      }

      .about_title {
        display: block;
        width: 100%;
        font-size: 3rem;
        padding: 0;
        margin: 0;
      }

      .about_detail {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
      }
    }

    &.services {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .content {
        margin: 1rem auto;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }

      .section-head {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
      }

      .section-body {
        width: 100%;
        display: flex;
        gap: 2rem;
      }

      .section_title {
        display: block;
        width: 100%;
        text-align: right;
        text-align: right;
        font-size: 3rem;
        padding: 0;
        margin: 0;
      }

      .section_detail {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
      }

      .service-item {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }

    &.annual {
      .content {
        background-color: #333;
        min-height: 500px;
        color: white;
        display: flex;
        padding: 0 4rem 0 4rem;
        align-items: stretch;
        justify-content: center;
        gap: 8px;

        .content-box,
        .content-img {
          width: 100%;
        }

        .content-box {
          width: 70%;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 0;
        }

        .content-img {
          overflow: hidden;

          img {
            position: absolute;
            width: min(300px, 50%);
            transform: rotate(20deg);
            left: 15%;
            bottom: -10%;
          }
        }
      }

      .annual_title {
        display: block;
        width: 100%;
        font-size: 3rem;
        padding: 0;
        margin: 0;
      }

      .annual_detail {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
      }
    }

    &.ideal {
      background-color: #f8f8f8;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .content {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }

      .section-head {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
      }

      .section-body {
        width: 100%;
        display: flex;
        gap: 2rem;
      }

      .section_title {
        display: block;
        width: 100%;
        text-align: right;
        text-align: right;
        font-size: 3rem;
        padding: 0;
        margin: 0;
      }

      .section_detail {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
      }

      .ideal-item {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }

    &.whyus {
      .why_text {
        width: min(80%, 1200px);
        padding: 1rem 0 4rem 0;
        margin: auto;
        font-size: 1.2rem;
      }

      .why_list {
        margin: auto;
        width: min(100%, 800px);
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .why_item {
          width: calc(50% - 1rem);
          aspect-ratio: 1;
          padding: 2rem;
          overflow: hidden;
          border-bottom: 3px solid var(--accent-color);
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          &::before {
            position: absolute;
            content: '';
            inset: 0;
            opacity: 0.2;
            background-image: linear-gradient(120deg, #2f9c043b, #007bff5f);
          }

          &:first-child {
            color: #fff;
            background-image: linear-gradient(120deg, #2f9c04, #007bff);
            border: none;
            font-size: 2rem;

            &::before {
              display: none;
            }

            .why_head {
              display: block;
              text-transform: uppercase;
              width: 100%;
              font-size: 7rem;
              padding: 0;
              margin: 0;
            }
          }

          .why_title,
          .why_detail {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
            /* font-size: 2rem; */
          }

          .why_title {
            text-transform: uppercase;
            font-size: 1.8rem;
          }
        }
      }
    }

    &.mission,
    &.vision,
    &.profile,
    &.personnels,
    &.joinus {
      .section_topic {
        text-decoration: underline;
        text-transform: uppercase;
      }
    }

    &.personnels {
      /* .section_text {} */

      .personnel_list {
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: start;
        gap: 1rem;

        .personnel_item {
          width: min(100%, 330px);
          aspect-ratio: 0.915;
          background: #ffffff;
          border-radius: 0;

          .personnel_img {
            position: absolute;
            width: 100%;
            top: 0;
          }

          .personnel_content {
            width: 100%;
            z-index: 1;
            background-image: linear-gradient(180deg, transparent 80%, #000);
            display: flex;
            justify-content: end;
            flex-direction: column;
            gap: rem;

            .personnel_name {
              height: 30px;
              padding: 0;
              margin: 0;
              text-transform: capitalize;
              color: #fff;
              padding: 0 1rem;
              margin-top: 0.5rem;
              margin-bottom: 0.5rem;
            }

            .personnel_info {
              text-transform: capitalize;
              border-bottom: 2px solid #fff;
              /* border-bottom: 2px solid var(--accent-color); */
              padding: 1rem;
              color: #fff;
              opacity: 0;
            }
          }

          &:hover .personnel_content {
            background-image: linear-gradient(
              180deg,
              transparent 10%,
              #000 /* #2f9c04 50% */
            );

            .personnel_info {
              opacity: 1;
            }
          }
        }
      }
    }

    &.joinus {
    }
  }
}

/* ================================================== */
/* Extra small devices (phones, less than 576px) */
@media screen and (max-width: 576px) {
  /* Styles for small screens */
}
